.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10vh;

  &_item {
    list-style: none;
    margin: 0 40px;
    list-style-type: decimal-leading-zero;
    color: $secondary-color;
  }

  &_link {
    text-decoration: none;
    color: $tertiary-color;
  }
}
