@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&display=swap");
.scroll-down {
  position: fixed;
  display: flex;
  bottom: 70px;
  left: 0px;
  transform: rotate(90deg);
  align-items: center;
}
.scroll-down__link {
  text-decoration: none;
  color: #eeeeee;
}
.scroll-down__link:hover {
  color: #eeeeee;
}
.scroll-down__icon {
  transform: rotate(-45deg);
  font-size: 36px;
  color: #4ecca3;
  margin-left: 25px;
}

.scroll-up {
  position: fixed;
  display: flex;
  z-index: 1;
  transform: rotate(90deg);
  align-items: center;
  top: 100px;
  right: 20px;
}
.scroll-up__link {
  text-decoration: none;
  color: #eeeeee;
}
.scroll-up__link:hover {
  color: #eeeeee;
}
.scroll-up__icon {
  transform: rotate(135deg);
  font-size: 36px;
  color: #4ecca3;
  margin-right: 25px;
}

.contact-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  gap: 10px;
  width: 600px;
  height: 400px;
  padding: 25px;
  background-color: #eeeeee;
  color: #222831;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  border: 3px solid #4ecca3;
  box-shadow: 7px 8px #222831, 8px 9px 0 1px #4ecca3;
}
.contact-wrapper__left {
  width: 45%;
  display: flex;
  flex-direction: column;
}
.contact-wrapper__right {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 40px;
}

.hello {
  text-align: center;
  padding: 5px;
  color: #eeeeee;
  background-color: #222831;
  border: 2px solid #eeeeee;
  box-shadow: 5px 6px #4ecca3;
}

label {
  font-size: 18px;
  font-weight: 500;
}

.input-field {
  border: 3px solid #4ecca3;
  box-shadow: 5px 6px #222831, 6px 7px 0 1px #4ecca3;
  border-radius: 10px;
  outline: none;
  height: 40px;
  margin: 5px 0 15px 0;
  padding-left: 10px;
}

textarea {
  border: 3px solid #4ecca3;
  box-shadow: 5px 6px #222831, 6px 7px 0 1px #4ecca3;
  border-radius: 10px;
  outline: none;
  margin: 5px 0 15px 0;
  padding-top: 10px;
  padding-left: 10px;
  width: 100%;
  resize: none;
}

input[type=submit] {
  background-color: white;
  width: 100%;
  border: 3px solid #4ecca3;
  box-shadow: 5px 6px #222831, 6px 7px 0 1px #4ecca3;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  padding: 3px;
}

input[type=submit]:active {
  transform: translate(2px, 2px);
  box-shadow: 0px 1px #222831, 0px 1px #4ecca3;
}

.social-media {
  text-align: center;
}

.social-media a,
i {
  text-decoration: none;
  color: #222831;
  transition: 0.3s;
  font-size: 22px;
}

.social-media a:hover,
i:hover {
  color: #4ecca3;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10vh;
}
.nav__item {
  list-style: none;
  margin: 0 50px;
  list-style-type: decimal-leading-zero;
  color: #4ecca3;
}
.nav__link {
  text-decoration: none;
  color: #eeeeee;
}

.hero {
  color: #eeeeee;
  display: flex;
  align-items: center;
  height: 85vh;
  margin: 0 140px;
  justify-content: space-between;
}
.hero__heading-title {
  font-size: 64px;
  font-weight: 200;
}
.hero__heading-name {
  font-size: 72px;
  font-weight: 400;
  text-shadow: 4px 4px 10px #4ecca3, 0 1px 0 #4ecca3;
}
.hero__subheading {
  margin-top: 45px;
  font-size: 18px;
  font-weight: 200;
  font-style: italic;
}
.hero__button {
  margin-top: 45px;
  width: 280px;
  height: 60px;
  font-size: 24px;
  border: 4px solid #4ecca3;
  border-radius: 10px;
  float: right;
  transition: 0.2s;
  font-weight: 500;
  letter-spacing: 2px;
}
.hero__button:hover {
  box-shadow: 6px 7px #222831, 7px 8px 0 1px #4ecca3;
}
.hero__button:active {
  transform: translate(2px, 2px);
  box-shadow: 0px 1px #222831, 0px 1px #4ecca3;
}
.hero .social {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  align-items: center;
  font-size: 24px;
}
.hero .social__icon {
  margin-top: 10px;
  color: #eeeeee;
  transition: 0.2s;
}
.hero .social__icon:hover {
  color: #4ecca3;
}

.work {
  height: 80vh;
  color: #eeeeee;
  margin: 0 140px;
}
.work__heading {
  margin-bottom: 30px;
  padding: 3px 0px 0px 7px;
  border-top: 3px dotted #4ecca3;
  border-left: 3px dotted #4ecca3;
  display: inline-block;
}
.work__article {
  display: flex;
  justify-content: space-between;
}
.work__article-description {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.work__article-description h2 {
  text-decoration: underline;
}
.work__article-description h3 {
  font-style: italic;
  font-weight: 200;
}
.work__article-description p {
  color: #b4b4b4;
}
.work__article-card {
  position: relative;
  top: -100px;
  right: 80px;
  height: 400px;
  width: 500px;
  background-color: #eeeeee;
  border-radius: 10px;
  border: 4px solid #4ecca3;
  transition: 0.2s;
}
.work__article-card:hover {
  box-shadow: 6px 7px #222831, 7px 8px 0 1px #4ecca3;
}

.page {
  display: inline;
  font-size: 44px;
}
.page-no {
  color: #4ecca3;
}

.arrow-left {
  position: absolute;
  transform: translateY(-50%);
  left: 100px;
  font-size: 30px;
}

.arrow-right {
  position: absolute;
  transform: translateY(-50%);
  right: 100px;
  font-size: 30px;
}

.tech-stack {
  margin-top: 30px;
}
.tech-stack__icon {
  margin-right: 10px;
  height: 30px;
}

.experience {
  height: 80vh;
  color: #eeeeee;
  margin: 0 140px;
}
.experience__heading {
  margin-bottom: 30px;
  padding: 3px 0px 0px 7px;
  border-top: 3px dotted #4ecca3;
  border-left: 3px dotted #4ecca3;
  display: inline-block;
}
.experience__article {
  display: flex;
}
.experience__article-description {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.experience__article-description h2 {
  text-decoration: underline;
}
.experience__article-description h3 {
  font-style: italic;
  font-weight: 200;
}
.experience__article-description p {
  color: #b4b4b4;
}
.experience .skills-wrapper {
  width: 800px;
}
.experience .skill {
  margin: 20px;
  width: 300px;
  height: 45px;
  padding: 8px;
  text-align: center;
  font-size: 16px;
  color: #222831;
  border: 4px solid #4ecca3;
  border-radius: 10px;
  background-color: #eeeeee;
  float: right;
  transition: 0.3s;
}
.experience .skill:hover {
  box-shadow: 5px 6px #222831, 6px 7px 0 1px #4ecca3;
}

.contact {
  height: 80vh;
  color: #eeeeee;
  margin: 0 140px;
  position: relative;
}
.contact__heading {
  margin-bottom: 30px;
  padding: 3px 0px 0px 7px;
  border-top: 3px dotted #4ecca3;
  border-left: 3px dotted #4ecca3;
  display: inline-block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222831;
  font-family: "Roboto Mono", monospace;
  padding: 0 50px;
}

footer {
  text-align: center;
  color: #eeeeee;
  font-size: 12px;
  margin: 20px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}