@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #232931;
  font-family: "Roboto Mono", monospace;
  padding: 0 50px;
  height: 100vh;
}

header {
  height: 100vh;
  color: #eeeeee;
}

section {
  color: #eeeeee;
  height: 100vh;
}

#work,
#experience,
#contact {
  padding-top: 100px;
}

@media screen and (min-width: 768px) {
  body {
    margin: 0 140px;
  }
}

.scroll-down {
  position: relative;
  top: 120px;
  text-decoration: none;
  color: #eeeeee;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 24px;
  color: #4ecca3;
  -webkit-animation: bounce 1s linear infinite;
          animation: bounce 1s linear infinite;
}

@-webkit-keyframes bounce {
  50% {
    top: 100px;
  }
  100% {
    top: 120px;
  }
}

@keyframes bounce {
  50% {
    top: 100px;
  }
  100% {
    top: 120px;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__heading {
  font-size: 32px;
  font-weight: 200;
  text-align: left;
}

.hero__heading-name {
  display: inline-block;
  letter-spacing: 5px;
  font-size: 40px;
  font-weight: 500;
  color: transparent;
  -webkit-text-stroke: 1px #4ecca3;
}

.hero__subheading {
  margin-top: 32px;
  font-size: 18px;
  font-weight: 200;
  font-style: italic;
}

.hero__button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 45px;
  width: 280px;
  font-size: 24px;
  border: 4px solid #4ecca3;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  color: #232931;
  text-align: center;
  padding: 5px;
  background-color: #eeeeee;
}

.hero__button:hover {
  -webkit-box-shadow: 6px 7px #232931, 7px 8px 0 1px #4ecca3;
          box-shadow: 6px 7px #232931, 7px 8px 0 1px #4ecca3;
}

.hero__button:active {
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
  -webkit-box-shadow: 0px 1px #232931, 0px 1px #4ecca3;
          box-shadow: 0px 1px #232931, 0px 1px #4ecca3;
}

.focus-in-expand {
  -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .hero__heading {
    font-size: 60px;
  }
  .hero__heading-name {
    letter-spacing: 5px;
    font-size: 72px;
  }
}

.nav {
  display: none;
  min-height: 10vh;
  background-color: #232931;
}

.nav h2 {
  font-family: "Fredericka the Great", cursive;
  color: white;
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  list-style-type: decimal-leading-zero;
  color: #4ecca3;
}

.nav__item {
  list-style: none;
  margin: 0 50px;
  list-style-type: decimal-leading-zero;
}

.nav__link {
  text-decoration: none;
  color: #eeeeee;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

.nav__link::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #eeeeee;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__link:hover {
  color: #4ecca3;
}

.nav__link:hover::after {
  width: 100%;
}

.hamburger {
  display: block;
  width: 35px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger.is-active::before {
  -webkit-transform: rotate(-45deg) translate(-8px, 7px);
          transform: rotate(-45deg) translate(-8px, 7px);
}

.hamburger.is-active::after {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
}

.hamburger.is-active .hamburger__bar {
  opacity: 0;
}

.hamburger::after, .hamburger::before, .hamburger__bar {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #4ecca3;
  margin: 6px 0px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .nav {
    right: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 10vh;
    background-color: #232931;
  }
}

footer {
  text-align: center;
  color: #eeeeee;
  font-size: 12px;
  position: relative;
  top: -30px;
}

.social {
  position: fixed;
  left: 60px;
  top: 37%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}

.social__icon {
  margin-top: 20px;
  color: #eeeeee;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social__icon:hover {
  color: #4ecca3;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.social a {
  text-decoration: none;
}

.contact-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  gap: 10px;
  width: 600px;
  height: 400px;
  padding: 25px;
  background-color: #eeeeee;
  color: #232931;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 3px solid #4ecca3;
  -webkit-box-shadow: 7px 8px #232931, 8px 9px 0 1px #4ecca3;
          box-shadow: 7px 8px #232931, 8px 9px 0 1px #4ecca3;
}

.contact-wrapper__left {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-wrapper__right {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 40px;
}

.hello {
  text-align: center;
  padding: 5px;
  color: #eeeeee;
  background-color: #232931;
  border: 2px solid #eeeeee;
  -webkit-box-shadow: 5px 6px #4ecca3;
          box-shadow: 5px 6px #4ecca3;
}

label {
  font-size: 18px;
  font-weight: 500;
}

.input-field {
  border: 3px solid #4ecca3;
  -webkit-box-shadow: 5px 6px #232931, 6px 7px 0 1px #4ecca3;
          box-shadow: 5px 6px #232931, 6px 7px 0 1px #4ecca3;
  border-radius: 10px;
  outline: none;
  height: 40px;
  margin: 5px 0 15px 0;
  padding-left: 10px;
}

textarea {
  border: 3px solid #4ecca3;
  -webkit-box-shadow: 5px 6px #232931, 6px 7px 0 1px #4ecca3;
          box-shadow: 5px 6px #232931, 6px 7px 0 1px #4ecca3;
  border-radius: 10px;
  outline: none;
  margin: 5px 0 15px 0;
  padding-top: 10px;
  padding-left: 10px;
  width: 100%;
  resize: none;
}

input[type="submit"] {
  background-color: white;
  width: 100%;
  border: 3px solid #4ecca3;
  -webkit-box-shadow: 5px 6px #232931, 6px 7px 0 1px #4ecca3;
          box-shadow: 5px 6px #232931, 6px 7px 0 1px #4ecca3;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  padding: 3px;
}

input[type="submit"]:active {
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
  -webkit-box-shadow: 0px 1px #232931, 0px 1px #4ecca3;
          box-shadow: 0px 1px #232931, 0px 1px #4ecca3;
}

.work {
  position: relative;
}

.work__heading {
  margin-bottom: 30px;
  padding: 3px 0px 0px 7px;
  border-top: 3px dotted #4ecca3;
  border-left: 3px dotted #4ecca3;
  display: inline-block;
  font-size: 44px;
}

.work__heading__num {
  color: #4ecca3;
}

.work__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work__article-description {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.work__article-description h2 {
  text-decoration: underline;
}

.work__article-description h3 {
  font-style: italic;
  font-weight: 200;
}

.work__article-description p {
  color: #b4b4b4;
}

.work__article-card {
  position: relative;
  top: -100px;
  right: 80px;
  height: 400px;
  width: 500px;
  background-color: #eeeeee;
  border-radius: 10px;
  border: 4px solid #4ecca3;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.work__article-card:hover {
  -webkit-box-shadow: 6px 7px #232931, 7px 8px 0 1px #4ecca3;
          box-shadow: 6px 7px #232931, 7px 8px 0 1px #4ecca3;
}

.arrow-left {
  position: absolute;
  top: 50%;
  left: -50px;
  font-size: 30px;
  color: #eeeeee;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@-webkit-keyframes moveLeft {
  50% {
    left: -60px;
  }
  100% {
    left: -50;
  }
}

@keyframes moveLeft {
  50% {
    left: -60px;
  }
  100% {
    left: -50;
  }
}

.arrow-left:hover {
  -webkit-animation: moveLeft 1s infinite;
          animation: moveLeft 1s infinite;
  color: #4ecca3;
}

.arrow-right {
  position: absolute;
  top: 50%;
  left: 525px;
  font-size: 30px;
  color: #eeeeee;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.arrow-right:hover {
  -webkit-animation: moveRight 1s infinite;
          animation: moveRight 1s infinite;
  color: #4ecca3;
}

@-webkit-keyframes moveRight {
  50% {
    left: 535px;
  }
  100% {
    left: 525;
  }
}

@keyframes moveRight {
  50% {
    left: 535px;
  }
  100% {
    left: 525;
  }
}

.tech-stack {
  margin-top: 30px;
}

.tech-stack__icon {
  margin-right: 10px;
  height: 30px;
}

.experience__heading {
  margin-bottom: 30px;
  padding: 3px 0px 0px 7px;
  border-top: 3px dotted #4ecca3;
  border-left: 3px dotted #4ecca3;
  display: inline-block;
  font-size: 44px;
}

.experience__heading__num {
  color: #4ecca3;
}

.experience__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.experience__description {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.experience__description h2 {
  text-decoration: underline;
}

.experience__description h3 {
  font-style: italic;
  font-weight: 200;
}

.experience__description p {
  color: #b4b4b4;
}

.skills-wrapper {
  width: 800px;
}

.skills-wrapper__skill {
  margin: 20px;
  width: 300px;
  height: 45px;
  padding: 8px;
  text-align: center;
  font-size: 16px;
  color: #232931;
  border: 4px solid #4ecca3;
  border-radius: 10px;
  background-color: #eeeeee;
  float: right;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.skills-wrapper__skill:hover {
  -webkit-box-shadow: 5px 6px #232931, 6px 7px 0 1px #4ecca3;
          box-shadow: 5px 6px #232931, 6px 7px 0 1px #4ecca3;
}

.contact {
  position: relative;
}

.contact__heading {
  margin-bottom: 30px;
  padding: 3px 0px 0px 7px;
  border-top: 3px dotted #4ecca3;
  border-left: 3px dotted #4ecca3;
  display: inline-block;
  font-size: 44px;
}

.contact__heading__num {
  color: #4ecca3;
}

.social-media {
  text-align: center;
}

.social-media a,
.social-media i {
  text-decoration: none;
  color: #232931;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 22px;
}

.social-media a:hover,
.social-media i:hover {
  color: #4ecca3;
}
/*# sourceMappingURL=styles.css.map */