// Scroll down
.scroll-down {
  position: fixed;
  display: flex;
  bottom: 70px;
  left: 0px;
  transform: rotate(90deg);
  align-items: center;

  &__link {
    text-decoration: none;
    color: $tertiary-color;
  }
  &__icon {
    transform: rotate(-45deg);
    font-size: 36px;
    color: $secondary-color;
    margin-left: 25px;
  }
}
