// Scroll down
.scroll-down {
  position: relative;
  top: 120px;
  text-decoration: none;
  color: $tertiary-color;
  transition: 0.3s;
  font-size: 24px;
  color: $secondary-color;

  animation: bounce 1s linear infinite;
}

@keyframes bounce {
  50% {
    top: 100px;
  }
  100% {
    top: 120px;
  }
}

// Scroll up

// .scroll-up {
//   position: fixed;
//   display: flex;
//   z-index: 1;
//   transform: rotate(90deg);
//   align-items: center;
//   top: 100px;
//   right: 20px;

//   &__link {
//     text-decoration: none;
//     color: $tertiary-color;
//     transition: 0.3s;
//   }

//   &__link:hover {
//     color: $tertiary-color;
//     transform: translateX(15px);
//   }
//   &__icon {
//     transform: rotate(135deg);
//     font-size: 36px;
//     color: $secondary-color;
//     margin-right: 25px;
//   }
// }
