// Scroll down
.scroll-down {
  position: fixed;
  display: flex;
  bottom: 70px;
  left: 0px;
  transform: rotate(90deg);
  align-items: center;

  &__link {
    text-decoration: none;
    color: $tertiary-color;
    transition: 0.3s;
  }

  &__link:hover {
    color: $tertiary-color;
    transform: translateX(-15px);
  }
  &__icon {
    transform: rotate(-45deg);
    font-size: 36px;
    color: $secondary-color;
    margin-left: 25px;
    transition: 1s;
  }
}

// Scroll up

.scroll-up {
  position: fixed;
  display: flex;
  z-index: 1;
  transform: rotate(90deg);
  align-items: center;
  top: 100px;
  right: 20px;

  &__link {
    text-decoration: none;
    color: $tertiary-color;
    transition: 0.3s;
  }

  &__link:hover {
    color: $tertiary-color;
    transform: translateX(15px);
  }
  &__icon {
    transform: rotate(135deg);
    font-size: 36px;
    color: $secondary-color;
    margin-right: 25px;
  }
}
