* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: $primary-color;
  font-family: $primary-font;
  padding: 0 50px;
  height: 100vh;
  // width: 100%;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   margin: 0;
//   padding: 0;
// }

header {
  height: 85vh;
  color: $tertiary-color;
}
section {
  color: $tertiary-color;
  height: 100vh;
}

#work,
#experience,
#contact {
  padding-top: 100px;
}

@media screen and (min-width: 768px) {
  body {
    margin: 0 140px;
  }
}
