.contact {
  height: 85vh;
  color: $tertiary-color;
  margin: 0 140px;
  position: relative;

  &__heading {
    margin-bottom: 30px;
    padding: 3px 0px 0px 7px;
    border-top: 3px dotted $secondary-color;
    border-left: 3px dotted $secondary-color;
    display: inline-block;
  }
}

// Social media icons
.social-media {
  text-align: center;
}
.social-media a,
.social-media i {
  text-decoration: none;
  color: $primary-color;
  transition: 0.3s;
  font-size: 22px;
}
.social-media a:hover,
.social-media i:hover {
  color: $secondary-color;
}
